[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
plotly = "*"
matplotlib = "*"
datetime = "*"
pandas = "*"
argparse = "*"
bagpy = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.10"
